@import 'modules/variables',
		'modules/reset',
		'modules/footer',
		'modules/slick',
		'modules/font-awesome',
		'modules/header',
		'modules/home',
		'modules/steps',
		'modules/categories',
		'modules/pay';

.flex {
	display: flex;
}

body {
	font-family: $mainFont;
}

a {
	text-decoration: none;
	color: $mainColor;

	&:hover {
		color: $linkColor;
	}
}

.hide-s {
	display: none;
	@media screen and (min-width: $break-medium) {
		display: block;
	}
}

.hide-m {
	display: block;
	@media screen and (min-width: $break-medium) {
		display:none;
	}
}

.change {
	&:hover {
		opacity: .6;
		transition: all ease-in-out .5s;
	}
}

.btn {
	background: $linkColor;
	border: 0;
	margin: em(5) 0;
	color: $white;
	padding: em(10);
	border-radius: 5px;
	font-size: em(12);
	cursor: pointer;
	font-family: $mainFont;
	&:hover {
		opacity: .7;
	}
}

