doctype html
html
	head
		include modules/head.jade
	body
		block content
		script(src="js/vendor/jquery.js")
		script(src="js/vendor/slick.js")
		script(src="js/vendor/rangeSlider.min.js")
		script(src="js/main.js")

