.brands
	.container
		h3.title Más de 50 marcas de tarjetas para regalar
		.slide-brands
			.item
				.image
					img(src="images/fpo/logo-1.png", alt="")
			.item
				.image
					img(src="images/fpo/logo-1.png", alt="")
			.item
				.image
					img(src="images/fpo/logo-1.png", alt="")
			.item
				.image
					img(src="images/fpo/logo-1.png", alt="")
			.item
				.image
					img(src="images/fpo/logo-1.png", alt="")
			.item
				.image
					img(src="images/fpo/logo-1.png", alt="")
			.item
				.image
					img(src="images/fpo/logo-1.png", alt="")
			.item
				.image
					img(src="images/fpo/logo-1.png", alt="")