.catalog
	.container
		aside.catalog-categories
			h3.title Compra Gift Card desde tu casa
			ul.nav-categories
				h4.subtitle categorías
				li
					a(href="") Aniversarios
				li
					a(href="") Belleza
				li
					a(href="") Cumpleaños
				li
					a(href="") Deportes
				li
					a(href="") Eventos
				li
					a(href="") Hogar
				li
					a(href="") Moda
				li
					a(href="") Infantiles
				li
					a(href="") Restaurantes
				li
					a(href="") Salud
				li
					a(href="") Tecnología
				li
					a(href="") Viajes
		.content
			fieldset
				input(type="search" placeholder="Busca entre más de 50 marcas" class="search" id="search")
			.filter
				.buttons
					a(href="").type1.active Todas
					a(href="").type2 Fisicas
					a(href="").type2 Virtuales
				.items
					.item.active
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								.info
									span.brand Starbucks
									span.price $20.000 - $100.000
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								.info
									span.brand Starbucks
									span.price $20.000 - $100.000
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								.info
									span.brand Starbucks
									span.price $20.000 - $100.000
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								.info
									span.brand Starbucks
									span.price $20.000 - $100.000
					.item.item-detail
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
							.info
								span.brand Starbucks
								span.text Treat your self - or someone else - to something special at Starbucks with  a Starbucks Gift Card.
							form
								fieldset.address
									label Dirección envio.
									.select
										select
											option Dirección 1
											option Dirección 2
											option Dirección 3
								fieldset.notes
									textarea#notes(name="", cols="30", rows="10" placeholder= "name")
							.detail-content
								.range
									.range-price
										span.price-title Precio:
										span#price-number.price-number
										input(type="text" class="range-item" id="range-detail" name="range-detail")
									.actions
										a(href="").main-button.red-button Crear dirección de envio
										a(href="").main-button.black-button Añadir al carrito
					.item.item-detail.virtual.step-1
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
							.info
								span.brand Starbucks
								span.text Treat your self - or someone else - to something special at Starbucks with  a Starbucks Gift Card.
							.detail-content
								.range
									.range-price
										span.price-title Precio:
										span#price-number.price-number
										input(type="text" class="range-item" id="range-detail" name="range-detail")
							.actions.f-right
								a(href="").main-button.red-button Personaliza tarjeta
					.item.item-detail.virtual.step-2
						.item-content
							p.title Selecciona el diseño base que más te guste
							.box-preview
								.preview-card
									.item
										.image
											img(src="images/fpo/preview-card.png", alt="")
									input.radio(type="radio" name="hello")
								.preview-card
									.item
										.image
											img(src="images/fpo/preview-card.png", alt="")
									input.radio(type="radio" name="hello")
								.preview-card
									.item
										.image
											img(src="images/fpo/preview-card.png", alt="")
									input.radio(type="radio" name="hello")
					.item.item-detail.virtual.step-3
						.item-content
							p.title Así lice tu tarjeta:
							.box-preview
								.preview-card
									.item
										.image
											img(src="images/fpo/preview-card.png", alt="")
								.form
									input(type="mail" placeholder="E. correo@correo.com")
									textarea(name="", cols="30", rows="10" placeholder="Mensaje correo")
							.actions
								a(href="").main-button.black-button Editar Tarjeta
								a(href="").main-button.red-button Enviar Tarjeta

