.catalog
	.container
		aside.catalog-categories
			h3.title Compra Gift Card desde tu casa
			ul.nav-categories
				h4.subtitle categorías
				li
					a(href="") Aniversarios
				li
					a(href="") Belleza
				li
					a(href="") Cumpleaños
				li
					a(href="") Deportes
				li
					a(href="") Eventos
				li
					a(href="") Hogar
				li
					a(href="") Moda
				li
					a(href="") Infantiles
				li
					a(href="") Restaurantes
				li
					a(href="") Salud
				li
					a(href="") Tecnología
				li
					a(href="") Viajes
		.content
			fieldset
				input(type="search" placeholder="Busca entre más de 50 marcas" class="search" id="search")
			.filter
				.buttons
					span.type1.active Todas
					span.type2 Fisicas
					span.type2 Virtuales
				.items
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								.info
									span.brand Starbucks
									span.price $20.000 - $100.000
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								.info
									span.brand Starbucks
									span.price $20.000 - $100.000
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								.info
									span.brand Starbucks
									span.price $20.000 - $100.000
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								.info
									span.brand Starbucks
									span.price $20.000 - $100.000
					.item.item-detail
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
							.info
								span.brand Starbucks
								span.text Treat your self - or someone else - to something special at Starbucks with  a Starbucks Gift Card.
							form
								fieldset.address
									label Dirección envio.
									.select
										select
											option Dirección 1
											option Dirección 2
											option Dirección 3
								fieldset.notes
									textarea#notes(name="", cols="30", rows="10" placeholder= "name")
							.detail-content
								.range
									.range-price
										span.price-title Precio:
										span#price-number.price-number
										input(type="text" id="range-detail" name="range-detail")
									.actions
										a(href="").create-address Crear dirección de envio
										a(href="").add-car Añadir al carrito
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								span.brand Starbucks
								span.price $20.000 - $100.000
					.item
						.item-content
							.image
								img(src="images/fpo/logo-example.jpg", alt="")
								span.brand Starbucks
								span.price $20.000 - $100.000

