.categories
		.container
			.items
				.item.restaurants
					.image
						img(src="images/fpo/icon-1.svg", alt="")
					span.text Bares y restaurantes
				.item.technology
					.image
						img(src="images/fpo/icon-1.svg", alt="")
					span.text Tecnologia
				.item.tourism
					.image
						img(src="images/fpo/icon-1.svg", alt="")
					span.text Viajes y turismo
				.item.c-home
					.image
						img(src="images/fpo/icon-1.svg", alt="")
					span.text Hogar
			button.btn Ver todas