.contact
	.container
		span.fa.fa-times.close
		h3.title Contacto
		span.intro Comprá y regalá las mejores marcas
		span.intro Completá el formulario y uno de nuestros asesores te contestará a la brevedad. O llamanos al: 0810 345 5050 Con Gift.
		span.intro Ahorra tiempo buscando tu duda en la sección de
			a(href="").detail  FAQS.
		form(action="" class="contact-form")
			fieldset.field.contact-name
				label.label nombres y apellidos
				input(type="text" id="contact-name" placeholder="Tu nombre y apellido")
			fieldset.field.contact-email
				label.label email
				input(type="email" id="contact-email" placeholder="Tu email o cuenta de correo electronico")
			fieldset.field.contact-phone
				label.label nombres y apellidos
				input(type="phone" id="contact-phone" placeholder="Tu numero de telefóno")
			fieldset.field.contact-message
				label.label mensaje
				textarea#contact-message(name="", cols="30", rows="10" placeholder="Tu mensaje")
			.wrapper-right
				button(type="submit" class="contact-submit main-button red-button") Contactenos
