footer.footer
	.container
		ul.item
			span.title Empresa
			li
				a(href="") Quienes Somos
			li
				a(href="") Blog
			li
				a(href="") Contactenos
		ul.item
			span.title Legal
			li
				a(href="") Terminos de Ventas
			li
				a(href="") Terminos de Servicio
			li
				a(href="") Privacidad
			li
				a(href="") Terminos
		ul.item
			span.title Soporte
			li
				a(href="") Centro de Ayuda
			li
				a(href="") Mapa del Sitio
		ul.social.item
			.title Siguenos
			li
				a(href="").fa.fa-facebook
			li
				a(href="").fa.fa-instagram
			li
				a(href="").fa.fa-twitter
			li
				a(href="").fa.fa-youtube
	span.copyright ©2015 Gift Card Todos los Derechos Reservados
