header
	.container.flex
		.logo.change
			a(href="#")
				img(src="images/base/giftcard.png")
		.flex-box
			.nav-top
				a(href="#").sign-up Registrar Ahora
				a(href="#").log-in Ingresar
			nav.main-nav
				ul
					li
						a(href="#") Catalogo
					li
						a(href="#") Quienes somos
					li
						a(href="#") Contactenos