header
	.container.flex
		.logo.change
			a(href="#")
				img(src="images/base/giftcard.png")
		.small-menu.change.hide-m
			span.one
			span.two
			span.three
			p Menu
		.flex-box.nav.hide-s
			.nav-top
				a(href="#").sign-up Registrar Ahora
				a(href="#").log-in Ingresar
			nav.main-nav
				ul
					li
						a(href="#") Catalogo
					li
						a(href="#") Quienes somos
					li
						a(href="#")#contact-nav Contactenos