.home
	.slide-home
		.item
			img(src="images/fpo/home-1.jpg", alt="")
			.slick-caption
				h3.title ¡Regalá emoción!
				p.text Regalá una Gift Card de forma rapida y segura.
				button.btn Comienza Ahora
		.item
			img(src="images/fpo/home-1.jpg", alt="")
			.slick-caption
				h3.title ¡Regalá emoción!
				p.text Regalá una Gift Card de forma rapida y segura.
				button.btn Comienza Ahora
	include ../modules/steps.jade
	include ../modules/categories.jade
	include ../modules/brands.jade
	include ../modules/pay.jade