.steps
	p.intro Con Gift Card todo es más facil
	.container
		.wrapper-steps
			.items
				.item
					.image
						img(src="images/fpo/category-1.png", alt="")
					.text
						p.title Consectetur adipiscing elit.
						p.info Consectetur adipiscing elit. Cras arcu enim, laoreet ut erat
				.item
					.image
						img(src="images/fpo/category-1.png", alt="")
					.text
						p.title Consectetur adipiscing elit.
						p.info Consectetur adipiscing elit. Cras arcu enim, laoreet ut erat
			.center-image
			.items
				.item.reverse
					.image
						img(src="images/fpo/category-1.png", alt="")
					.text
						p.title Consectetur adipiscing elit.
						p.info Consectetur adipiscing elit. Cras arcu enim, laoreet ut erat
				.item.reverse
					.image
						img(src="images/fpo/category-1.png", alt="")
					.text
						p.title Consectetur adipiscing elit.
						p.info Consectetur adipiscing elit. Cras arcu enim, laoreet ut erat