@import 'variables';

.catalog {
	.container {
		width: 90%;
		margin: auto;
		padding: em(20) 0;
	}

	 .items .item.item-detail {
		width: 100%;
		padding-left: 0;
	}

	.items {
		display: inline-block;
		width: 100%;

		.item-content {
			border: 2px solid rgba($textColor, .2);
			padding: em(10) 0;
			padding-bottom: 0;

			.brand {
				font-weight: 900;
			}

			.image {
				img {
					width: 60%;
				}
			}

			.price {
				background-color: rgba($textColor, .7);
				color: $white;
				padding: em(12) 0;
				margin-top: em(10);
			}
		}

		.item {
			padding: 0 em(5);
			width: 25%;
			position: relative;
			float: left;
			padding-bottom: em(11);
			box-sizing: border-box;
			cursor: pointer;
			@media screen and (max-width: $break-medium) {
				width: 50%;
			}

			&.active:after {
				content: "";
				position: absolute;
				bottom: em(2);
				right: 105px;
				width: 0px;
				height: 0px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid rgba($textColor, .7);
			}

			&:nth-child(n+4) {
				padding-right: 0;
			}
			&:first-child {
				padding-left: 0;
				@media screen and (max-width: $break-medium) {
					padding: 0 0.3125em;
				}
			}
			&:last-child {
				padding-right: 0;
			}

			&.virtual {
				.item-content {
					width: 100%;
				}

				&.item-detail .detail-content {
					margin-top: em(5);
					padding-left: 20px;
				}

				.actions {
					width: 100%;
					text-align: right;
					padding-right: 20px;
					a {
						width: auto;
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}

			.address {
				label {
					padding-bottom: em(10);
					display: inline-block;
					width: 100%;
					font-weight: 900;
				}
			}

			&.item-detail {
				.image {
					width: 15%;
					display: inline-block;
					padding-left: em(20);
					img {
						width: 100%;
					}
				}

				.detail-form {
					margin-top: 1.875em;
					padding: 0 1.25em;
					width: 50%;
					display: inline-block;
					box-sizing: border-box;
				}

				textarea {
					margin: em(15) 0;
					max-width: 100%;
					resize: none;
				}

				textarea::placeholder {
					color: $textColor;
				}

				select, textarea {
					padding-right: em(10);
					padding-left: em(10);
					width: 100%;
				}

				form {
					margin-top: em(30);
					padding: 0 em(20);
					width: 50%;
					display: inline-block;
					box-sizing: border-box;
				}

				.detail-content {
					margin-top: em(30);
					width: 49%;
					display: inline-block;
					vertical-align: top;
					box-sizing: border-box;
					padding-right: em(20);

					.actions {
						margin-top: em(25);
					}

					.price-title {
						font-weight: 900;
					}

					.price-number {
						color: $linkColor;
						padding-left: em(5);
						font-weight: 900;
						&:before {
							content: '$';
						}
					}
				}

				.info {
					display: inline-block;
					width: 79%;
					vertical-align: top;
					margin-top: em(25);
					padding: 0 em(10);
					box-sizing: border-box;
					.brand, .text {
						text-align: left;
					}

					.brand {
						font-size: em(20);
						padding-bottom: em(10);
					}
				}
			}

		}

		.image, .brand, .price {
			width: 100%;
			display: block;
			text-align: center;
		}
	}

	aside {
		width: 15%;
		display: inline-block;
		text-align: left;
		padding-bottom: em(20);
		color: $textColor;
		padding-right: em(20);
		@media screen and (max-width: $break-padding) {
			width: 100%;
		}

		.title {
			padding-bottom: em(20);
			line-height: 120%;
			font-weight: 600;
		}

		.subtitle {
			text-transform: uppercase;
			margin-bottom: em(10);
			padding-bottom: em(6);
			border-bottom: 2px solid;
			&:before {
				content: '';
				width: 28px;
				height: 17px;
				float: left;
				background-size: 80%;
				background-repeat: no-repeat;
				background-image: url('../images/fpo/categories.svg');
			}
		}
	}

	.nav-categories {
		display: inline-block;
		width: 100%;

		li {
			padding: em(10) 0 em(10) em(25);
			font-size: .8em;
			@media screen and (max-width: $break-padding) {
				display: inline-block;
				border: 1px solid rgba(#dedede, .6);
				text-align: center;
				padding: em(10) 20px;
				margin-bottom: em(5);
				font-weight: 800;
				&:hover {
					background-color: $linkColor;
					color: white;
					border: none;
				}

				a:hover {
					color: white;
				}
			}
		}
	}

	.content {
		display: inline-block;
		vertical-align: top;
		width: 82%;
		@media screen and (max-width: $break-padding) {
			width: 100%;
		}
	}

	.search {
		margin-bottom: em(20);
	}

	.buttons {
		display: flex;
		width: 100%;
		margin-bottom: em(20);

		a {
			flex: auto;
			margin-right: em(10);
			text-align: center;
			padding: em(18) 0;
			box-sizing: border-box;
			color: $white;
			cursor: pointer;
			background-color: $catalogButton;
			&.active, &:hover {
				background-color: $linkColor;
			}

			&:hover {
				text-decoration: none;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.virtual {
		&.step-2 {
			.item-content {
				width: 100%;
				padding: em(20);
				box-sizing: border-box;
			}

			.title {
				padding-bottom: em(15);
				text-align: center;
				font-weight: 800;
			}

			.actions {
				margin: em(20) 0;
				margin-bottom: 0;
			}

			.item {
				width: 100%;
			}

			&.item.item-detail .image {
				margin-top: em(20);
			}

			.header {
				padding-bottom: em(90);
			}

			.preview-price {
				text-align: right;
				padding: 0 em(20);
				color: $linkColor;
				font-weight: 800;
			}

			.brand {
				margin-top: em(15);
			}
		}

		&.step-3 {
			.item-content {
				width: 100%;
				padding: em(20);
				box-sizing: border-box;
			}

			.title {
				padding-bottom: em(20);
			}

			.item-content .image {
				padding-left: 0;
			}

			.item {
				width: 100%;
				padding-right: em(20);
			}

			.black-button {
				margin-right: em(20);
			}

			.preview-card, .form {
				width: 50%;
			}
		}

		.box-preview {
			display: flex;
		}

		.preview-card {
			width: calc(100% * (1/3) - 10px - 1px);
			text-align: center;
			margin: 0 auto;
			flex: auto;
			.item .image {
				width: 100%;
			}
		}
	}
}