@import 'variables';

.steps {
	.wrapper-steps {
		display: inline-block;
		width: 100%;
		position: relative;
	}

	.intro {
		padding: em(10) 0;
		margin-bottom: em(30);
		text-align: center;
		background-color: $linkColor;
		color: $white;
		font-size: em(22);
		@media screen and (max-width: $break-medium) {
			margin-bottom: em(15);
		}
	}

	.items, .center-image {
		float: left;
	}

	.item {
		display: flex;
		margin-bottom: em(40);
		padding: 0 30px;
		&:nth-child(even){
			margin-bottom: 0;
			@media screen and (max-width: $break-medium) {
				margin-bottom: em(20);
			}
		}
		@media screen and (max-width: $break-medium) {
			display: block;
			text-align: center;
			margin-bottom: em(0);
			padding: em(20) 0;
			border-bottom: 1px solid #bdbbb2;
		}

		.text {
			padding: 0 20px;
			margin-top: em(40);

			@media screen and (max-width: $break-medium) {
				margin-top: 15px;
			}
		}
		.title, .info {
			width: 100%;
		}

		.image {
			@media screen and (max-width: $break-medium) {
				width: 50px;
				margin: 0 auto;

				img {
					width: 100%;
				}
			}
		}

		.title {
			font-weight: 800;
			margin-bottom: em(10);
			font-size: em(16);
		}

		.info {
			font-size: em(14);
		}
	}

	.items {
		width: 38%;
		@media screen and (max-width: $break-medium) {
			width: 100%;
		}
	}

	.reverse {
		flex-direction: row-reverse;
	}

	.center-image {
		width: 200px;
		height: 200px;
		margin-top: em(80);
		background-size: 100%;
		background-image: url('../images/fpo/phone.png');
		@media screen and (max-width: $break-padding) {
			width: 150px;
			height: 150px;
		}
		@media screen and (max-width: $break-medium) {
			display: none;
		}
	}
}