$mainColor: #2B2C39;
$linkColor: #E42949;
$footerColor: #252D30;
$black: black;
$white: white;
$mainFont: 'Open Sans', sans-serif;;


//Break Points 

$break-desktop:992px;
$break-padding:1015px;
$break-medium: 768px;

//Mixins

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
