.cart {
  width: 90%;
  margin: 0 auto; }
  .cart .cart-title {
    padding: 1.25em 0;
    font-weight: 900;
    font-size: 1.375em; }
  .cart .cart-table, .cart .cart-table-info, .cart .cart-table-total .cart-table-item {
    border-bottom: 1px solid rgba(128, 128, 128, 0.6); }
  .cart .detail .image {
    width: 50%;
    margin: 0 auto; }
  .cart .cart-table-item {
    margin: 0.625em 0;
    padding: 0.5em 0;
    vertical-align: bottom;
    display: inline-block;
    width: 16%;
    text-align: center; }

.cart-table-last {
  border-color: white; }

.cart-table-total .cart-table-item {
  width: 100%;
  padding-bottom: 15px;
  text-align: right; }

.cart-buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .cart-buttons .btn {
    padding: 1em 20px;
    float: right;
    font-size: .9em; }
